---
title: cflinuxfs3 Support Available through Extended App Support Tile
owner: Buildpacks
---

<%= vars.app_runtime_first %> 10.2 supports running applications that use the cflinuxfs3 stack through a new Extended App Support tile. This capability is designed to help customers transition to 10.2+ without needing to fully migrate all applications to cflinuxfs4.

This feature allows customers with remaining dependencies on cflinuxfs3 to continue using cflinuxfs3 with <%= vars.app_runtime_abbr %> 10.2+, allowing time for a gradual migration strategy. It is especially useful for enterprises with complex upgrade planning, or where certain apps have not yet been validated against newer stacks.


## <a id="how-to"></a>Install and Set up the Tile
There are two options for installing the Extended App Support tile. Option 1 uses two **Apply Changes**. You start by installing the tile on a compatible 6.0.x version, followed by an upgrade to 10.2.2+. Option 2 uses one **Apply Changes** by installing the tile during the upgrade to 10.2.2+.

### Option 1: Install the tile on a compatible 6.0.x version

1. Stage the <%= vars.app_runtime_abbr %> 6.0.19+ tile. If the tile is already installed, you can skip this step.

1. Stage the Extended App Support tile.

2. In <%= vars.ops_manager %>, configure the Extended App Support tile:

    * **Network Configuration:** Configure the Network using **Assign AZs and Networks**. Choose the **Availability Zone** and **Network** for the temporary VM to use to run the install errand.
    * **Version Selection:** Select the cflinuxfs3-compatible buildpacks needed (for example, Ruby, Java, Node.js). Any buildpacks that are not selected are uninstalled.
    * **Errands:** Configure Post-Deploy and Pre-Delete errands related to the buildpacks and stack.
    * **Resource Config:** Select the VM type to use for executing the errand.

3. Click **Apply Changes** to install the Extended App Support tile and <%= vars.app_runtime_abbr %> 6.0.19 or later.

4. When that is complete, navigate to the <%= vars.app_runtime_abbr %> tile, and click **Cloud Controller** in the left sidebar. Change **Available Stacks** to `cflinuxfs4 only`.

   ![cflinuxfs4-only](./images/cflinuxfs3_upgrade.png)

5. Stage the <%= vars.app_runtime_abbr %> 10.2.2+ tile.

6. Click **Apply Changes** to install the <%= vars.app_runtime_abbr %> tile. Ensure that both the <%= vars.app_runtime_abbr %> and the Extended App Support tile are selected for deployment.

### Option 2: Install the tile during the upgrade to 10.2.2+

1. Navigate to the <%= vars.app_runtime_abbr %> tile, and click **Cloud Controller** in the left sidebar. Change **Available Stacks** to `cflinuxfs4 only`.

   ![cflinuxfs4-only](./images/cflinuxfs3_upgrade.png)

1. Stage the <%= vars.app_runtime_abbr %> 10.2.2+ tile, if it is not already there.

1. Stage the Extended App Support tile.

1. In <%= vars.ops_manager %>, configure the Extended App Support tile:

    * **Network Configuration:** Configure the Network using **Assign AZs and Networks**. Select the **Availability Zone** and **Network** for the temporary VM to run the install errand.
    * **Version Selection:** Select the cflinuxfs3-compatible buildpacks needed (for example, Ruby, Java, Node.js). Any buildpacks that are not selected are uninstalled.
    * **Errands:** Configure Post-Deploy and Pre-Delete errands related to the buildpacks and stack.
    * **Resource Config:** Select the VM type to use for executing the errand.

1. Click **Apply Changes** to install the Extended App Support tile and the <%= vars.app_runtime_abbr %> 10.2.2+ tile. Ensure that both the <%= vars.app_runtime_abbr %> and the Extended App Support tile are selected for deployment.

## <a id="notes"></a>Known Issues and Notes

* In 10.2.2+, cflinuxfs4 is the non-configurable, default stack. When pushing over existing apps that are using cflinuxfs3, developers do not need to specify the stack as `cflinuxfs3`, but all new app pushes must use `--stack cflinuxfs3` or declare `cflinuxfs3` in the app manifest. If this is not done, the app will use cflinuxfs4.
* You are still expected to fully migrate off cflinuxfs3 as soon as this is practical; this support tile is intended for transition use only.
* 10.2.0 and 10.2.1 do not support the new tile. Customers must upgrade to <%= vars.app_runtime_abbr %> 10.2.2 or higher to use this functionality.
* Buildpacks are no longer included with the platform by default and must be enabled through the tile, or added manually.
* Before applying the changes, ensure that both <%= vars.app_runtime_abbr %> and the Extended App Support tile are selected for deployment.
* If you restage or push a cflinuxfs3 app without installing the required buildpack(s), these operations fail.
* Operators should carefully review buildpack selection in the tile to avoid unexpected restage issues.
* If you uninstall the Extended App Support tile while you are still using TAS for VMs 6.0.x, unselect the errands on the delete to prevent deleting the buildpacks and deregistering the cflinuxfs3 stack.
* The value of maximum_droplet_size needs to be set to 2048 MB or higher to allow for the Java buildpack to be installed.


## <a id="cli-support"></a>cf CLI Support

You can continue to use the [Stack Auditor cf CLI plug-in](https://techdocs.broadcom.com/us/en/vmware-tanzu/platform/tanzu-platform-for-cloud-foundry/<%= vars.current_major_version_url %>/tpcf/stack-auditor.html#list-apps-and-their-stacks) to audit stack usage across your foundations, and to identify remaining cflinuxfs3 workloads that can now be supported in 10.2 using this feature.
