---
title: Managing Isolation Segments
owner: CAPI
---

<div class="quick-links">
    <ul>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#requirements">Requirements</a></li>
        <% if vars.platform_code == 'CF' %>
        <li><a href="#segment-manifest">Add an Isolation Segment to Your Deployment Manifest</a></li>
        <% end %>
        <li><a href="#register-an-is">Register an Isolation Segment</a></li>
        <li><a href="#lists">Retrieve Isolation Segment Information</a>
          <ul>
            <li><a href="#list_is">List Isolation Segments</a></li>
            <li><a href="#list_is_org">Display Isolation Segments Enabled for an Org</a></li>
            <li><a href="#list_is_space">Show the Isolation Segment Assigned to a Space</a></li>
          </ul>
        </li>
        <li><a href="#delete_is">Delete an Isolation Segment</a></li>
        <li><a href="#relationships">Manage Isolation Segment Relationships</a>
          <ul>
            <li><a href="#enable_org_is">Enable Isolation Segments for an Org</a></li>
            <li><a href="#remove_org_is">Disable Isolation Segments for an Org</a></li>
            <li><a href="#set_org_default_is">Set the Default Isolation Segment for an Org</a></li>
            <li><a href="#assign_iso_seg">Assign an Isolation Segment to a Space</a></li>
            <li><a href="#reset_space">Reset the Isolation Segment Assignment for a Space</a></li>
          </ul>
        </li>
    </ul>
</div>

This topic describes how operators can isolate deployment workloads into dedicated resource pools called isolation segments.


## <a name='overview'></a> Overview
<% if vars.platform_code == 'CF' %>

To enable isolation segments, an admin can pass in a custom operations file with the BOSH CLI. For the example file used in this topic, see the [cf-deployment](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/test/add-persistent-isolation-segment-diego-cell.yml) repository in GitHub.

<% else %>
<%= vars.isolation_segments_intro %>
<% end %>

After an admin creates a new isolation segment, the admin can then create and manage relationships between the orgs and spaces of a <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployment and the new isolation segment.


## <a name='requirements'></a> Requirements

Target the API endpoint of your deployment with `cf api` and log in with `cf login` before performing the procedures in this topic. <%= vars.api_endpoint_book %>


<% if vars.platform_code == 'CF' %>
## <a name="segment-manifest"></a> Add an Isolation Segment to Your Deployment Manifest

To add an isolation segment to your deployment manifest:

1. Write a custom operations file. The operations file defines an instance group that supports isolation segments.
    For a working example, see the [cf-deployment](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/test/add-persistent-isolation-segment-diego-cell.yml) repository in GitHub. The example sets the following instance group properties:
      * Name as `isolated-diego-cell`
      * Placement tag as `persistent_isolation_segment`
        <p class="note"><strong>Note:</strong> When you use the cf CLI, the name of the isolation segment corresponds to the placement tag you specify in the operations file. The commands throughout this topic use <code>SEGMENT-NAME</code> as an example isolation segment name.</p>

1. Apply the custom operations file when you deploy <%= vars.app_runtime_abbr %> by running:

    ```
    bosh -e BOSH-ENVIRONMENT -d cf deploy cf-deployment/cf-deployment.yml \
    -v system_domain=SYSTEM-DOMAIN \
    -o cf-deployment/operations/CUSTOM-OPS-FILE.yml
    ```

    Where:
      * `BOSH-ENVIRONMENT` is your BOSH environment alias. For more information about creating an environment alias for BOSH v2 or later, see [Environments](https://bosh.io/docs/cli-envs/) in the BOSH documentation.
      * `SYSTEM-DOMAIN` is the system domain of your <%= vars.app_runtime_abbr %> deployment.
      * `CUSTOM-OPS-FILE.yml` is your operations file.
<% end %>


## <a name="register-an-is"></a> Register an Isolation Segment

<%= vars.isolation_segments_create %>

To register an isolation segment in the Cloud Controller database (CCDB), use the cf CLI.

<%= vars.isolation_segments_smoke_tests %>

To register an isolation segment in the CCDB:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf create-isolation-segment SEGMENT-NAME
    ```
    Where `SEGMENT-NAME` is the name you give your isolation segment.
    <br>
    <%= vars.isolation_segments_note %>

If successful, the command returns an `OK` message:

<pre class="terminal">
Creating isolation segment SEGMENT-NAME as admin...
OK
</pre>


## <a name="lists"></a> Retrieve Isolation Segment Information

The `cf isolation-segments`, `cf org`, and `cf space` commands retrieve information about isolation segments. The isolation segments you can see depends on your role:

* **Admins** see all isolation segments in the system.
* **Other users** only see the isolation segments that their orgs are entitled to.

### <a name="list_is"></a> List Isolation Segments

To see a list of the isolation segments that are available to you:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf isolation-segments
    ```

The command returns results similar to this example output:

<pre class="terminal">
Getting isolation segments as admin...
OK

name     	   orgs
SEGMENT-NAME     org1, org2
</pre>

### <a name="list_is_org"></a> Display Isolation Segments Enabled for an Org

An admin can entitle an org to multiple isolation segments.

To view the isolation segments that are available to an org:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf org ORG-NAME
    ```
    Where `ORG-NAME` is the name of your org.

The command returns results similar to this example output:

<pre class="terminal">
Getting info for org ORG-NAME as user@example.com...

name:                 ORG-NAME
domains:              example.com, apps.example.com
quota:                paid
spaces:               development, production, sample-apps, staging
isolation segments:   SEGMENT-NAME, OTHER-SEGMENT-NAME
</pre>

### <a name="list_is_space"></a> Show the Isolation Segment Assigned to a Space

Only one isolation segment can be assigned to a space.

To view the isolation segment assigned to a space:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf space SPACE-NAME
    ```
    Where `SPACE-NAME` is the name of the space to which your isolation segment is assigned.

The command returns results similar to this example output:

<pre class="terminal">
name:                staging
org:                 ORG-NAME
apps:
services:
isolation segment:   SEGMENT-NAME
space quota:
security groups:     dns, p-mysql, p.mysql, public_networks, rabbitmq, ssh-logging
</pre>


## <a name="delete_is"></a> Delete an Isolation Segment

<p class="note"><strong>Note:</strong> An isolation segment with deployed apps cannot be deleted.</p>

Only admins can delete isolation segments.

To delete an isolation segment:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf delete-isolation-segment SEGMENT-NAME
    ```
    Where `SEGMENT-NAME` is the name of the isolation segment you want to delete.

If successful, the command returns an `OK` message:

<pre class="terminal">
$ cf delete-isolation-segment SEGMENT-NAME
Deleting isolation segment SEGMENT-NAME as admin...
OK
</pre>


## <a name="relationships"></a> Manage Isolation Segment Relationships

The commands listed in the sections below manage the relationships between isolation segments, orgs, and spaces.

### <a name="enable_org_is"></a> Enable an Org to Use Isolation Segments

Only admins can enable orgs to use isolation segments.

To enable the use of an isolation segment:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf enable-org-isolation ORG-NAME SEGMENT-NAME
    ```
    Where:
    * `ORG-NAME` is the name of your org.
    * `SEGMENT-NAME` is the name of the isolation segment you want your org to use.

If an org is entitled to use only one isolation segment, that isolation segment does not automatically become the default isolation segment for the org. You must explicitly set the default isolation segment of an org. For more information, see [Set the Default Isolation Segment for an Org](#set_org_default_is).

### <a name="remove_org_is"></a> Disable an Org from Using Isolation Segments

<p class="note"><strong>Note:</strong> You cannot disable an org from using an isolation segment if a space within that org is assigned to the isolation segment. Additionally, you cannot disable an org from using an isolation segment if the isolation segment is configured as the default for that org.</p>

To disable an org from using an isolation segment:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf disable-org-isolation ORG-NAME SEGMENT-NAME
    ```
    Where:
    * `ORG-NAME` is the name of your org.
    * `SEGMENT-NAME` is the name of the isolation segment you want to disable the org from using.

If successful, the command returns an `OK` message:

<pre class="terminal">
Removing entitlement to isolation segment SEGMENT-NAME from org org1 as admin...
OK
</pre>

### <a name="set_org_default_is"></a> Set the Default Isolation Segment for an Org

<p class='note'><strong>Note:</strong> This section requires cf CLI v6.29.0 or later. To download cf CLI v6.29.0 or later, go to the <a href="https://github.com/cloudfoundry/cli/releases/tag/v6.29.0">Releases</a> section of the Cloud Foundry CLI repository on GitHub.</p>

Only admins and org managers can set the default isolation segment for an org.

When an org has a default isolation segment, apps in its spaces belong to the default isolation segment unless you assign them to another isolation segment. You must restart running apps to move them into the default isolation segment.

To set the default isolation segment for an org:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf set-org-default-isolation-segment ORG-NAME SEGMENT-NAME
    ```
    Where:
    * `ORG-NAME` is the name of your org.
    * `SEGMENT-NAME` is the name of the isolation segment you want to set as your org's default.

If successful, the command returns an `OK` message:

<pre class="terminal">
$ cf set-org-default-isolation-segment org1 SEGMENT-NAME
Setting isolation segment SEGMENT-NAME to default on org org1 as admin...
OK
</pre>

To display the default isolation segment for an org:

1. Run:

    ```
    cf org
    ```

### <a name="assign_iso_seg"></a> Assign an Isolation Segment to a Space

Admins and org managers can assign an isolation segment to a space. Apps in that space start in the specified isolation segment.

To assign an isolation segment to a space, you must first enable the space's org to use the isolation segment. For more information, see [Enable an Org to Use Isolation Segments](#enable_org_is).

To assign an isolation segment to a space:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf set-space-isolation-segment SPACE-NAME SEGMENT-NAME
    ```
    Where:
    * `SPACE-NAME` is the name of your space.
    * `SEGMENT-NAME` is the name of the isolation segment you want to assign to your space.

### <a name="reset_space"></a> Reset the Isolation Segment Assignment for a Space

Admins can reset the isolation segment assigned to a space to use the org's default isolation segment.

To assign the default isolation segment for an org to a space:

1. Log in to your deployment by running:

    ```
    cf login
    ```

1. Run:

    ```
    cf reset-space-isolation-segment SPACE-NAME
    ```
    Where `SPACE-NAME` is the name of the space to which you want to assign your org's default isolation segment.
