---
title: Managing Isolation Segments
owner: CAPI
---

<strong><%= modified_date %></strong>

This topic describes how operators can isolate application 
workloads to dedicated resource pools called isolation segments.

## <a id='overview'></a> Requirements

You must have the most recent version of the [Cloud Foundry Command Line Interface (cf CLI)](../cf-cli/install-go-cli.html) installed to manage isolation segments.

Target the API endpoint of your deployment with `cf api` and log in with `cf login` before performing the procedures in this topic. <%= vars.api_endpoint_book %>

## <a id='overview'></a> Overview

<%= vars.isolation_segments_intro %>

After an admin creates a new isolation segment, the admin can then create and manage relationships between a Cloud Foundry deployment's orgs and spaces and the new isolation segment object.

To manage the isolation segment, an operator uses cf CLI commands.

Operators can perform the following operations on isolation segments:

* [Create an isolation segment](#create-an-is)
* [List isolation segments](#list_is)
* [Display isolation segments enabled for an org](#list_is_org)
* [Show the isolation segment assigned to a space](#list_is_space)
* [Delete an isolation segment](#delete_is)
* [Enable isolation segments for an org](#enable_org_is)
* [Disable isolation segments for an org](#remove_org_is)
* [Set the default isolation segment for an org](#set_org_default_is)
* [Assign an Isolation Segment to a Space](#assign_iso_seg)
* [Reset the Isolation Segment Assignment for a Space](#reset_space)

## <a id="contents"></a> Isolation Segment Contents

An isolation segment object in the Cloud Controller Database (CCDB) includes the following:

* The unique name of the isolation segment
* A unique GUID
* Timestamps for the object's creation and most recent update
* Links to API endpoints for isolation segment requests

In the CCDB, an isolation segment object does not identify the orgs and spaces 
that it includes. 
Instead, the org and space objects define this relationship by including the 
GUIDs of the isolation segments that they belong to.

<% if vars.product_name == 'CF' %>
## <a id="prepare"></a>Prepare BOSH to Support Isolation Segments

To enable isolation segments for a deployment, you must first assign Diego cells a `placement_tags` property in your Diego manifest by following the steps below:

1. In your Diego manifest, for each Diego cell that you want to include in an isolation segment, add a `placement_tags` attribute with the name of the isolation segment as its value. Isolation segment names must be unique across the entire system, and are not case-sensitive. Only admins can create isolation segments. Specify the value in a single-value array. For example, in `releases/diego.yml`, you tag a Diego cell with `my_segment` as follows:

    <pre>
    <span>-</span> instances: 1
      name: cell_z2
      networks:
      <span>-</span> name: diego2
      properties:
        diego:
         rep:
           [...] 
            placement_tags:
            <span>-</span> my_segment
    </pre>

2. Apply the changes (BOSH Deployer only)
<pre class="terminal">
$ bosh deploy
</pre>
<% else %>
<% end %>

## <a id="create-an-is"></a>Create an Isolation Segment

<%= vars.isolation_segments_create %>

To create an isolation segment in the Cloud Controller Database (CCDB), use the cf CLI. 

<%= vars.isolation_segments_note %>

The following command creates an isolation segment named `my_segment`:

<pre class="terminal">
$ cf create-isolation-segment my_segment
</pre>

If successful, the command returns an `OK` message:

<pre class="terminal">
Creating isolation segment my_segment as admin...
OK
</pre>

The command fails if another isolation segment with the same name exists.

## <a id="lists"></a> Retrieve Isolation Segment Information

The `cf isolation-segments`, `cf org` and `cf space` commands retrieve information for the isolation segments that you have access to. The isolation segments you can see information for depends on your role, as follows:

* **Admins** see all isolation segments in the system.
* **Other users** see the isolation segments that their orgs have been added to.

### <a id="list_is"></a> List Isolation Segments

The following request returns a list of the isolation segments that you can access:
<pre class="terminal">
$ cf isolation-segments
</pre>

For example, the command returns out similar to the following:

<pre class="terminal">
Getting isolation segments as admin...
OK

name     	   orgs
my_segment     org1, org2
</pre>

### <a id="list_is_org"></a> Display Isolation Segments Enabled for an Org

An admin can enable multiple isolation segments for an org.

To view the isolation segments that are enabled for an org, use the `cf org ORG-NAME` command. For example:

<pre class="terminal">
$ cf org my-org
</pre>

The command returns results similar to the following:

<pre class="terminal">
Getting info for org my-org as user@example.com...

name:                 my-org
domains:              example.com, apps.example.com
quota:                paid
spaces:               development, production, sample-apps, staging
isolation segments:   my_segment, my_other_segment
</pre>

### <a id="list_is_space"></a> Show the Isolation Segment Assigned to a Space

An admin can assign only one isolation segment to a space.

To view the isolation segment assigned to a space, use the `cf space SPACE-NAME` command. For example:

<pre class="terminal">
$ cf space staging
</pre>

The command returns results similar to the following:

<pre class="terminal">
name:                staging
org:                 my-org
apps:
services:
isolation segment:   my_segment
space quota:
security groups:     dns, p-mysql, p.mysql, pcf-redis, public_networks, rabbitmq, ssh-logging
</pre>

## <a id="manage_is"></a> Manage an Isolation Segment

The `cf curl` requests and cf CLI commands listed in the sections below make changes to isolation segment objects in the CCDB. Only admins can make these changes.

### <a id="delete_is"></a> Delete an Isolation Segment

<p class="note"><strong>Note</strong>: An isolation segment with deployed apps cannot be deleted.</p>

The following command deletes an isolation segment:
<pre class="terminal">
$ cf delete-isolation-segment
</pre>

If successful, the command outputs the following:

<pre class="terminal">
Deleting isolation segment my_segment as admin...
OK
</pre>

## <a id="relationships"></a> Manage Isolation Segment Relationships

The `cf curl` requests and cf CLI commands listed in the sections below add and remove orgs and spaces from isolation segments. 

### <a id="enable_org_is"></a> Enable Isolation Segments for an Org

Only admins can enable isolation segments for orgs. The following command enables an isolation segment for an org.

<pre class="terminal">
$ cf enable-org-isolation-segment ORG_NAME SEGMENT_NAME
</pre>

For example:
<pre class="terminal">
$ cf enable-org-isolation-segment org2 my_segment
</pre>

If an org is entitled to only one isolation segment, that isolation segment does not automatically become the default isolation segment for the org. You must explicitly [set the default isolation segment](#set_org_default_is) of an org.

### <a id="remove_org_is"></a> Disable an Isolation Segment for an Org

<p class="note"><strong>Note</strong>: You cannot disable an isolation segment for an org if a space within that org is assigned to the isolation segment. In addition, this action cannot be performed if the isolation segment is configured as the default for that org.</p>

The following command disables an isolation segment for an org:

<pre class="terminal">
$ cf disable-org-isolation-segment ORG_NAME SEGMENT_NAME
</pre>

For example:
<pre class="terminal">
$ cf disable-org-isolation org1 my_segment
</pre>

If successful, the command outputs the following:
<pre class="terminal">
Removing entitlement to isolation segment segment1 from org org1 as admin...
OK
</pre>

### <a id="set_org_default_is"></a> Set the Default Isolation Segment for an Org

Only admins and org managers can set the default isolation segment for an org.

When an org has a default isolation segment, new spaces created within the org are assigned to the default isolation segment unless specified otherwise.

You set the default isolation segment for an org by sending a request to the endpoint for the organization, and setting its `default_isolation_segment_guid` data property to the GUID of the new default isolation segment. For example:

<pre class="terminal">
$ cf curl "/v2/organizations/45a66ed9-cb76-46c3-92dd-b29187b50bfb" \
  -X PUT \
  -d '{ 
    "default_isolation_segment_guid":"323f211e-fea3-4161-9bd1-615392327913" 
  }'
</pre>

### <a id="assign_iso_seg"></a> Assign an Isolation Segment to a Space

Admins and org managers can assign an isolation segment to a specific space. Apps in that space start in the specified isolation segment.

To assign an isolation segment to a space, you must first enable the isolation segment for the space's org.

The following command assigns an isolation segment to a space:

<pre class="terminal">
$ cf set-space-isolation-segment SPACE_NAME SEGMENT_NAME
</pre>

For example:
<pre class="terminal">
$ cf set-space-isolation-segment space1 my_segment
</pre>

### <a id="reset_space"></a> Reset the Isolation Segment Assignment for a Space

Admins can reset the isolation segment assigned to a space to the org's default isolation segment.

The following command assigns the org's default isolation segment to a space:
<pre class="terminal">
$ cf reset-space-isolation-segment SPACE_NAME
</pre>

For example:
<pre class="terminal">
$ cf reset-space-isolation-segment space1
</pre>

