# Routing for <%= vars.segment_runtime_full %>s in <%= vars.app_runtime_abbr %>

You can configure and manage routing for <%= vars.segment_runtime_full %>s in <%= vars.app_runtime_abbr %> as described in this topic. You can also deploy a set of Gorouters for each <%= vars.segment_runtime_full %> to handle requests for apps within the segment.

For more information about how <%= vars.segment_runtime_full %>s work, see [<%= vars.segment_runtime_full %>s](../concepts/security.html#isolation-segments) in _<%= vars.app_runtime_abbr %> Security_. <%= vars.install_isolation_segments %>

The instructions in this topic assume you are using Google Cloud Platform (GCP). The procedures can differ on other IaaSes, but the
concepts must be transferable.


## <a id='overview'></a> <%= vars.segment_runtime_full %>s overview

<%= vars.segment_runtime_full %>s isolate the compute resources for one group of apps from another. However, these apps still share the same network resources. Requests for apps on all <%= vars.segment_runtime_full %>s, as well as for system components, transit the same load balancers, <%= vars.app_runtime_abbr %> Gorouters, and <%= vars.app_runtime_abbr %> TCP Routers.

When you use <%= vars.segment_runtime_full %>s, <%= vars.app_runtime_abbr %> designates its Diego Cells as belonging to a <%= vars.segment_runtime_full %> called `shared`. This <%= vars.segment_runtime_full %> is the default <%= vars.segment_runtime_full %> assigned to every org and space. This can be overwritten by assigning an explicit default for an organization. <%= vars.install_isolation_segments %>

The following illustration shows <%= vars.segment_runtime_full %>s sharing the same network resources:

![Diagram shows two <%= vars.segment_runtime_full %>s that share Gorouter, TCP Router, load balancer, and other CF components.](./images/routing-is.png)

The two <%= vars.segment_runtime_full %>s each contain a single Diego Cell. These <%= vars.segment_runtime_full %>s use the same Gorouter, TCP Router, and load balancers.

Operators who want to prevent all <%= vars.segment_runtime_full %>s and system components from using the same network resources can deploy an additional set of Gorouters for each <%= vars.segment_runtime_full %>:

![Diagram shows a set of Gorouters deployed for each <%= vars.segment_runtime_full %>, while sharing other network resources.](./images/is-distinct-domains.png)

The two <%= vars.segment_runtime_full %>s each use separate Gorouters and Diego Cells. However, the use of an isolated TCP router in this scenario is not supported.

Use cases include:

* Requests for apps in a <%= vars.segment_runtime_full %> must not share networking resources with requests for other apps.

* The <%= vars.app_runtime_abbr %> management plane can only be accessible from a private network. As multiple IaaS load balancers cannot typically share the same pool of back ends, such as <%= vars.app_runtime_abbr %> Gorouters, each load balancer requires an additional deployment of Gorouters.


## <a id='create-networks'></a> Step 1: Create networks

Create a network or subnet for each <%= vars.segment_runtime_full %> on your infrastructure. For example, an operator who wants one <%= vars.segment_runtime_full %> separated from their <%= vars.app_runtime_abbr %> Diego Cells could create one network named `sample-network` with two subnets named `sample-subnet-<%= vars.app_runtime_abbr_lc %>` and `sample-subnet-is1`.

The following diagram describes the network topology:

```
IaaS network: sample-network
  |
  |_____ IaaS subnet: sample-subnet-<%= vars.app_runtime_abbr_lc %>
  |
  |_____ IaaS subnet: sample-subnet-is1
```

Subnets do not generally span IaaS availability zones (AZs), so the same operator with two AZs needs four subnets.

```
IaaS network: sample-network
|
|_____ IaaS subnet: sample-subnet-<%= vars.app_runtime_abbr_lc %>-az1
|
|_____ IaaS subnet: sample-subnet-<%= vars.app_runtime_abbr_lc %>-az2
|
|_____ IaaS subnet: sample-subnet-is1-az1
|
|_____ IaaS subnet: sample-subnet-is1-az2

```

For more information about networks and subnets in GCP, see [Using Networks and Firewalls](https://cloud.google.com/compute/docs/networking) in the GCP documentation.


## <a id='config-networks'></a> Step 2: Configure networks for Gorouters

To configure the subnets with BOSH, use BOSH cloud config subnets. Each subnet in the IaaS must correspond to a BOSH subnet that is labeled with the correct <%= vars.segment_runtime_full %>. For more information, see [Usage](https://bosh.io/docs/cloud-config.html) in the BOSH documentation.

<%= vars.pcf_networking_is1 %>


## <a id='config-instance-group'></a> Step 3: Configure additional Gorouters

<%= vars.pcf_networking_is2 %>


## <a id='add-routers'></a> Step 4: Add Gorouters to load balancer

<%= vars.pcf_networking_is3 %>


## <a id='config-dns-lb'> </a> Step 5: Configure DNS and load balancers

Create a separate domain name for each Gorouter instance group, and configure DNS to resolve these domain names to a load balancer that routes requests to the matching Gorouters.

You must configure your load balancers to forward requests for a given domain to one Gorouter instance group only.

As Gorouter instance groups might be responsible for separate <%= vars.segment_runtime_full %>s, and an app might be deployed to only one <%= vars.segment_runtime_full %>, requests can only reach a Gorouter that has access to the apps for that domain name. Load balancing requests for a domain across more than Gorouter instance group can result in request failures unless all the Gorouter instance groups have access to the <%= vars.segment_runtime_full %>s where apps for that domain are deployed.

### <a id='sharing-domain'></a> Shared domain name

It is a common requirement for apps on separate <%= vars.segment_runtime_full %>s to be accessible at domain names that share a domain. For example, `private-domain.com`. To achieve this configuration while also obeying the guideline for forwarding requests for a domain to only one Gorouter instance group, create a new <%= vars.app_runtime_abbr %> domain for a needed subdomain, such as `*.foo.private-domain.com.`

The diagrams illustrate a topology with separate load balancers, but you could also use one load balancer with multiple interfaces.

In this configuration:

* Requests for system domain `*.cf-system.com` and the shared domain `*.shared-apps.com` are forwarded to the Gorouters for the <%= vars.app_runtime_abbr %> Diego Cells.

* Requests for private domain `*.foo.private-domain.com` are forwarded to the Gorouters for IS1. Requests for private domain `*.private-domain.com` are forwarded to the Gorouters for IS2.

![Diagram showing an example shared domain.](./images/is-sharing-domains.png)

The example has three <%= vars.segment_runtime_full %>s and three Gorouters.

The three <%= vars.segment_runtime_full %>s each use separate Gorouters and load balancers.

## <a id='config-firewall'></a> Step 6: Configure firewall rules

Configure firewall rules to allow for necessary ingress and egress traffic for <%= vars.segment_runtime_full %>s and <%= vars.app_runtime_abbr %> Diego Cells. Assuming a default deny-all rule, properly configuring firewall rules prevents a request with a spoofed Host header from being forwarded by a Gorouter to an app in a different <%= vars.segment_runtime_full %>.

Firewall rules are specific to each IaaS, so the exact definition of `Source` and `Destination` depends on the IaaS. For example:
* On GCP, a `Source` is a subnet and a `Destination` is a tag.
* On AWS, both `Source` and `Destination` are security groups.

To configure firewall rules for <%= vars.segment_runtime_full %> traffic:

1. Configure the firewall rules in the table below:

    For information about the processes that use these ports and their corresponding manifest properties, see
    <a href="#port-reference">Port Reference Table</a>.
    <table class="table">
      <thead>
      <tr>
        <th width="20%">Rule Name</th>
        <th width="20%">Source</th>
        <th width="20%">Allowed Protocols/Ports</th>
        <th width="20%">Destination</th>
        <th width="20%">Reason</th>
      </tr>
      </thead>
      <tr>
        <td><code><%= vars.app_runtime_abbr_lc %>-to-bosh</code></td>
        <td><%= vars.app_runtime_abbr %> Diego Cells</td>
        <td><code>tcp:4222, 25250, 25777</code></td>
        <td>BOSH Director</td>
        <td>BOSH Agent on VMs in the <%= vars.app_runtime_abbr %> Diego Cells to reach BOSH Director</td>
      </tr>
      <tr>
        <td><code><%= vars.app_runtime_abbr_lc %>-internal</code></td>
        <td><%= vars.app_runtime_abbr %> Diego Cells</td>
        <td><code>tcp:any, udp:any, icmp:any</code></td>
        <td><%= vars.app_runtime_abbr %> Diego Cells</td>
        <td>VMs within the <%= vars.app_runtime_abbr %> Diego Cells to reach one another</td>
      </tr>
      <tr>
        <td><code><%= vars.app_runtime_abbr_lc %>-to-is1</code></td>
        <td><%= vars.app_runtime_abbr %> Diego Cells</td>
        <td><code>tcp:1801, 8853, 53035</code></td>
        <td><%= vars.segment_runtime_full %></td>
        <td>Diego BBS in <%= vars.app_runtime_abbr %> Diego Cells to reach Diego Cells in <%= vars.segment_runtime_full %></td>
      </tr>
      <tr>
        <td><code>is1-to-bosh</code></td>
        <td><%= vars.segment_runtime_full %></td>
        <td><code>tcp:4222, 25250, 25777</code></td>
        <td>BOSH Director</td>
        <td>BOSH Agent on VMs in <%= vars.segment_runtime_full %> to reach BOSH Director</td>
      </tr>
      <tr>
        <td><code>is1-internal</code></td>
        <td><%= vars.segment_runtime_full %></td>
        <td><code>tcp:all, udp:all, icmp:all</code></td>
        <td><%= vars.segment_runtime_full %></td>
        <td>VMs within <%= vars.segment_runtime_full %> to reach one another</td>
      </tr>
      <tr>
        <td><code>is1-to-<%= vars.app_runtime_abbr_lc %></code></td>
        <td><%= vars.segment_runtime_full %></td>
        <td><code>tcp:3000, 3001, 4003, 4103, 4222, 4224, 4443, 6067, 8080, 8082, 8083, 8443, 8447, 8844, 8853, 8889, 8891, 9000, 9022, 9023, 9090, 9091</code></td>
        <td><%= vars.app_runtime_abbr %> Diego Cells</td>
        <td>Diego Cells in <%= vars.segment_runtime_full %> to reach Diego BBS, Diego Auctioneer, and CredHub in <%= vars.app_runtime_abbr %>. Loggregator Agent to reach Doppler. Syslog Agent to reach Log Cache Syslog Server. Gorouters to reach NATS, UAA, and Routing API. Metrics Discovery Registrar to reach NATS.</td>
      </tr>
    </table>

1. (Optional) Configure the firewall rules in the following table:

    <table class="table">
      <thead>
      <tr>
        <th width="20%">Rule Name</th>
        <th width="20%">Source</th>
        <th width="20%">Allowed Protocols/Ports</th>
        <th width="20%">Destination</th>
        <th width="20%">Reason</th>
      </tr>
      </thead>
      <tr>
        <td><code>jumpbox-to-is1</code></td>
        <td>Jumpbox VM</td>
        <td><code>tcp:22</code></td>
        <td><%= vars.segment_runtime_full %></td>
        <td>Jumpbox VMs to reach <%= vars.segment_runtime_full %> through SSH or BOSH SSH.</td>
      </tr>
      <tr>
        <td><code>diego-cell-egress</code></td>
        <td>Diego Cell VM on <%= vars.segment_runtime_full %></td>
        <td><code>tcp:any, udp:any</code></td>
        <td>Internet</td>
        <td>If Diego Cells must download buildpacks to stage apps, allow egress traffic from all Diego Cell VMs on <%= vars.segment_runtime_full %>s to reach the Internet.</td>
      </tr>
    </table>

Additional firewall rules might be necessary to allow logs to egress to application syslog drains. Connections for syslog drains are initiated both from Diego Cells and
Routers.

For more information about ports used by agents to communicate with BOSH, see the [bosh-deployment](https://github.com/cloudfoundry/bosh-deployment) repository on GitHub.

For more information about networks and firewall rules for GCP, see [Using Subnetworks](https://cloud.google.com/compute/docs/subnetworks) in the GCP documentation.

### <a id='port-reference'></a> Port Reference Table

To understand which protocols and ports map to which processes and manifest properties for the preceding rules, see the following table:

<table class="table">
<thead>
<tr>
  <th>Protocol</th>
  <th width="80px">Port</th>
  <th>Process</th>
  <th>Manifest Property</th>
</tr>
</thead>
<tr>
  <td><code>tcp</code></td>
  <td><code>1801</code></td>
  <td>Diego Rep</td>
  <td><code>diego.rep.listen_addr_securable</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>3000</code></td>
  <td>Routing API</td>
  <td><code>routing_api.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>3001</code></td>
  <td>Routing API</td>
  <td><code>routing_api.mtls_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>4003</code></td>
  <td>VXLAN Policy Agent</td>
  <td><code>cf_networking.policy_server.internal_listen_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>4103</code></td>
  <td>Silk Controller</td>
  <td><code>cf_networking.silk_controller.listen_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>4222</code></td>
  <td>NATS</td>
  <td><code>nats.nats.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>4224</code></td>
  <td>NATS</td>
  <td><code>nats-tls.nats.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>4443</code></td>
  <td>CAPI Blobstore Port - HTTPS</td>
  <td><code>capi.blobstore.tls.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>6067</code></td>
  <td>Log Cache Syslog Server</td>
  <td><code>log-cache.log-cache-syslog-server.syslog_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8080</code></td>
  <td>CAPI Blobstore Port - HTTP, Diego file server - HTTP</td>
  <td><code>capi.blobstore.port, diego.file_server.listen_addr</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8082</code></td>
  <td>Doppler gRPC, Reverse Log Proxy Gateway</td>
  <td><code>loggregator.doppler.grpc_port, loggregator.reverse_log_proxy.egress.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8083</code></td>
  <td>Log Cache cf-auth-proxy</td>
  <td><code>log-cache.log-cache-cf-auth-proxy.proxy_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8084</code></td>
  <td>Diego file server - HTTP</td>
  <td><code>diego.file_server.listen_addr</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8443</code></td>
  <td>UAA</td>
  <td><code>uaa.uaa.ssl.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8447</code></td>
  <td>Diego file server - HTTPS</td>
  <td><code>diego.file_server.https_listen_addr</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8844</code></td>
  <td>CredHub</td>
  <td><code>credhub.credhub.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8853</code></td>
  <td>BOSH DNS health</td>
  <td><code>health.server.port</code> from <code>bosh-dns-release</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8889</code></td>
  <td>Diego BBS</td>
  <td><code>diego.rep.bbs.api_location</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>8891</code></td>
  <td>Diego Database (Locket)</td>
  <td><code>diego.locket.listen_addr</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>9000</code></td>
  <td>Loggregator Syslog Binding Cache</td>
  <td><code>loggr-syslog-binding-cache.external_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>9022</code></td>
  <td>Cloud Controller Stager</td>
  <td><code>capi.stager.cc.external_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>9023</code></td>
  <td>Cloud Controller TPS</td>
  <td><code>capi.tps.cc.external_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>9090</code></td>
  <td>Cloud Controller Uploader</td>
  <td><code>capi.cc_uploader.http_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>9091</code></td>
  <td>Cloud Controller Uploader</td>
  <td><code>capi.cc_uploader.https_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>53035</code></td>
  <td>System Metrics Scraper</td>
  <td><code>system-metrics-scraper.loggr-system-metric-scraper.scrape_port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>25250</code></td>
  <td>BOSH Blobstore</td>
  <td><code>bosh.blobstore.port</code></td>
</tr>
<tr>
  <td><code>tcp</code></td>
  <td><code>25777</code></td>
  <td>BOSH Registry</td>
  <td><code>bosh.registry.port</code></td>
</tr>
</table>


## <a id='gcp-implementation'></a> Additional GCP information

For more information, see [Understanding backend services](https://cloud.google.com/compute/docs/load-balancing/http/backend-service) in the GCP documentation and the [BOSH Google CPI Release](https://github.com/cloudfoundry-incubator/bosh-google-cpi-release/tree/master/src/bosh-google-cpi) repository on GitHub.


## <a id='sharding-routers-isolation-segment'></a> Sharding Gorouters for <%= vars.segment_runtime_full %>s

<%= partial "/pcf/core/pcf_sharding" %>


## <a id='isolation-segments-metrics'></a> Metrics for Gorouters associated with <%= vars.segment_runtime_full %>s

For metrics emitted by the Gorouter, metrics can be distinguished by the name of the job. For example, this line is a metric emitted on `uptime`:

```
origin:"gorouter" eventType:ValueMetric timestamp:1491338040750977602 deployment:"superman.cf-app.com" job:"router_is1" index:"9a4b639c-8f0e-4b2b-b332-4161ee4646e6" ip:"10.0.16.23" valueMetric:<name:"uptime" value:118 unit:"seconds" >
```
