---
title: Securing Traffic into Cloud Foundry
owner: Routing
---

<strong><%= modified_date %></strong>

This topic describes the options for securing HTTP traffic into your <%=vars.product_full%> <%=vars.product_abbr%> deployment with SSL/TLS certificates. You can configure the location where your deployment terminates TLS depending on your needs and certificate restrictions. 

<%=vars.ssl_config%>

## <a id="protocol_support"></a>Protocol Support

Gorouter supports HTTP/HTTPS requests only. For more information about features supported by the Gorouter, see the [HTTP Routing](../concepts/http-routing.html) topic.

To secure non-HTTP traffic, terminate TLS at your load balancer or at the application. See [TCP Routing](enabling-tcp-routing.html) for details.

##<a id="ssl_options"></a>SSL/TLS Termination Options

There are three options for terminating SSL/TLS for HTTP traffic. You can terminate TLS at the Gorouter, your load balancer, or at both. 

The following table summarizes SSL/TLS termination options and which option to choose for your deployment.

<table border="1" class="nice">
<tr>
  <th>If the following applies to you:</th>
  <th>Then configure SSL/TLS termination at:</th>
  <th>Related topic and configuration procedure</th>
  </tr>
  <tr>
  <td><ul><li>You want the most performant and recommended option, and </li>
  <li>You can use a single SAN certificate for all system and application domains for your deployment.</li>
  </ul></td>
  <td>
  Gorouter only
  </td>
  <td> <a href="#gorouter_term">Terminating SSL/TLS at the Gorouter Only</a>
  </td>
  <tr>
  <td><ul><li>You cannot use a single SAN certificate for all system and application domains for your deployment, or</li>
  <li>You require Extended Validation (EV) certificates.</li>
  </ul>
  </td>
  <td>Load Balancer only
  </td>
  <td><a href="#lb_term">Terminating SSL/TLS at the Load Balancer Only</a>
  </td>
  </tr>
  <tr>
  <td><ul><li>You want a higher level of security, and</li>
  <li>You do not mind a slightly less performant deployment, and</li>
  <li>You can use a single SAN certificate on the Gorouter, either for all system and application domains (but with a different key than for the same certificates hosted on your load balancer) or for a single domain (but with hostname verification disabled on the load balancer).</li>
  </td>
  <td>
   Load Balancer and Gorouter
  </td>
  <td><a href="#lb_and_gorouter_term">Terminating SSL/TLS at the Load Balancer and Gorouter</a>
  </td>
  </tr>
</tr>
</table>
     

## <a id="certtypes"></a> Certificate Requirements

The following requirements apply to the certificates you use to secure traffic into <%=vars.product_short%><span>:</span>

* In a production environment, use a signed SSL/TLS certificate (trusted) from a known certificate authority (CA).
* In a development or testing environment, you can use a trusted CA certificate or a self-signed certificate generated with `openssl` or a similar tool. 
* The Gorouter currently only supports configuring a single HTTPS certificate. The certificate on the Gorouter must be associated with all the domains it may receive requests for so that HTTPS can validate the request. To associate multiple domains to a single certificate, including wildcard domains, use [Subject Alternative Name (SAN)](https://tools.ietf.org/html/rfc5280#section-4.2.1.6), an X.509 extension.
* If wildcard certificates are not supported for some or all of your domains, then terminate TLS at your load balancer.
* If you cannot use a SAN certificate, terminate TLS at your load balancer.
* Extended Validation (EV) certificates support multiple hostnames, like SAN, but do not support wildcards. For this reason, if EV certificates are required, then terminate TLS at the load balancer only.
* If you must terminate TLS at your load balancer, you may optionally secure requests from the load balancer to the Gorouter by terminating TLS at the Gorouter also. To accomplish this without using a SAN certificate on the Gorouter, you will have to disable hostname validation on the load balancer, as the domain in the certificate hosted by the Gorouter will not match requests forwarded to it for applications on <%=vars.product_full%> by the load balancer.

## <a id="ciphers"></a> Cipher Suites

By default, Gorouter supports the following cipher suites:

* TLS\_ECDHE\_RSA\_WITH\_AES\_128\_GCM\_SHA256
* TLS\_ECDHE\_RSA\_WITH\_AES\_256\_GCM\_SHA384

<%= vars.cipher_suites %>

See the [Golang repository on Github](https://github.com/golang/go/blob/release-branch.go1.7/src/crypto/tls/cipher_suites.go#L269-L285) for more information about supported ciphers.

<p class="note"><strong>Note</strong>: ECDSA ciphers require a certificate and key for DSA, as opposed to RSA.</p>

##<a id="gorouter_term"></a>Terminating SSL/TLS at the Gorouter Only

In this configuration, the load balancer does not terminate TLS for CF domains at all. Instead, it passes through the underlying TCP connection to the Gorouter. 

This option is the recommended and more performant option, establishing and terminating a single TLS connection. 

The following diagram illustrates communication between the client, load balancer, Gorouter, and app.

<%= image_tag("pass-through.png") %>

Traffic between the load balancer and the Gorouter is encrypted only if the client request is encrypted.

### <a id="cert_guidelines_gorouter"></a>Certificate Guidelines

* The Gorouter currently only supports configuring a single HTTPS certificate.
* Use a SAN certificate because <%=vars.product_short%> requires multiple wildcard domains.

### <a id="http_header_gorouter"></a>About HTTP Header Forwarding

The Gorouter appends the `X-Forwarded-For` and `X-Forwarded-Proto` headers to requests forwarded to applications and platform system components. `X-Forwarded-For` is set to the IP address of the client, and `X-Forwarded-Proto` to the scheme of the client request.

If you terminate TLS/SSL at the Gorouter only, you do not need to configure any additional HTTP header forwarding on your load balancer.

### <a id="pass-through"></a>Procedure: Gorouter Only

<% if vars.product_name == 'CF' %>
<%= partial 'ssl_termin_gorouter_oss' %>
<% else %>
<%= partial '../opsguide/ssl_termin_gorouter_pcf' %>
<% end %>

##<a id="lb_term"></a> Terminating SSL/TLS at the Load Balancer Only

In this configuration, your load balancer terminates TLS, and passes unencrypted traffic to the Gorouter, which routes it to your app. Traffic between the load balancer and the Gorouter is not encrypted.

This option is recommended if you cannot use SAN certificates and if you do not require traffic to be encrypted between the load balancer and the Gorouter. 

The following diagram illustrates communication between the client, load balancer, Gorouter and app.

<%= image_tag("lb.png") %>

### <a id="cert_guidelines_lb"></a> Certificate Guidelines

You can use multiple certificates on your load balancer if the load balancer supports multiple VIPs or SNI.

### <a id="http_header_lb"></a> About HTTP Header Forwarding

If you terminate SSL/TLS at your load balancer, then you must also configure the load balancer to append the `X-Forwarded-For` and `X-Forwarded-Proto` HTTP headers to the HTTP traffic it passes to the Gorouter.

### <a id="lb"></a> Procedure: Load Balancer Only

<% if vars.product_name == 'CF' %>
<%= partial 'ssl_termin_lb_only_oss' %>
<% else %>
<%= partial '../opsguide/ssl_termin_lb_only_pcf' %>
<% end %>

##<a id="lb_and_gorouter_term"></a>Terminating SSL/TLS at the Load Balancer and Gorouter

In this configuration two TLS connections are established: one from the client to the load balancer, and another from the load balancer to the Gorouter. This configuration secures all traffic between the load balancer and the Gorouter.

The following diagram illustrates communication between the client, load balancer, Gorouter, and app.

<%= image_tag("lb-and-router.png") %>

This option is less performant, but it does allow for use of multiple certificates under certain circumstances. 

### <a id="cert_guidelines_lb_gorouter"></a> Certificate Guidelines

In this deployment scenario, the following guidelines apply:

- Certificates for the <%=vars.product_short%> domains must be stored on the load balancer.
- On the Gorouter you can use a SAN certificate for all domains, or a standard certificate for a single domain that the load balancer has been configured to trust. In the latter case, however, you must disable hostname validation on the load balancer, as the domain of the certificate served by the Gorouter will not match requests sent to applications on <%=vars.product_short%>. 
- If you are concerned about hosting a certificate key on the Gorouter, you can generate certificates for your load balancer for the same domains with a different key. If the key for the certificate on the Gorouter is compromised, then the certificate on the load balancer is not at risk, and vice versa.

### <a id="hostname_verfication"></a> About Hostname Verification 

Hostname verification between the load balancer and Gorouter is unnecessary when the load balancer is already configured with the Gorouter's IP address to correctly route the request. 

If the load balancer uses DNS resolution to route requests to the Gorouters, then you should enable hostname verification.

### <a id="http_header_lb_gorouter"></a> About HTTP Header Forwarding

If you terminate SSL/TLS at your load balancer, then you must also configure the load balancer to append the `X-Forwarded-For` and `X-Forwarded-Proto` HTTP headers to requests it sends to the Gorouter.

### <a id="lb-and-router"></a> Procedure: Load Balancer and Gorouter

<% if vars.product_name == 'CF' %>
<%= partial 'ssl_termin_gorouter_lb_oss' %>
<% else %>
<%= partial '../opsguide/ssl_termin_gorouter_lb_pcf' %>
<% end %>



