---
title: Service Mesh (Beta)
owner: CF Networking Service Mesh
---

This topic describes service mesh for <%= vars.product_full %>. 

## <a id="overview"></a> Overview 

<%= vars.product_short %> includes an optional, beta routing plane that uses a service mesh. A service mesh provides traffic management, security and observability for microservices. For more information, see [What is a service mesh?](https://istio.io/docs/concepts/what-is-istio/#what-is-a-service-mesh) in the Istio documentation. Service Mesh in 

<%= vars.product_short %> uses [Istio Pilot](https://istio.io/docs/concepts/what-is-istio/#pilot) and [Envoy](https://www.envoyproxy.io/). The Cloud Foundry [istio-release](https://github.com/cloudfoundry/istio-release) packages these components into a BOSH release. 

## <a id="components"></a> Component VMs

Service mesh deploys an additional router and runs as a parallel routing plane as illustrated in the following diagram:

![Istio plane](istio-plane.png)

The following table describes each VM deployed as part of service mesh in <%= vars.product_short %>, along with their function.

<table>
<tr>
	<th>VM</th>
	<th>Processes</th>
	<th>Function</th>
</tr>
<tr>
	<td>istio-router</td>
	<td>envoy</td>
	<td>A reverse proxy to forward HTTP/HTTPS requests external to the platform to applications on the platform.</td>
</tr>
<tr>
	<td>istio-control</td>
	<td>copilot, pilot-discovery</td>
	<td>Propagates <%= vars.product_short %> external routes to all service mesh routers.</td>
</tr>
<tr>
	<td>route-syncer</td>
	<td>cc-route-syncer</td>
	<td>Syncs routes created through the Cloud Controller API to the service mesh control plane.</td>
</tr>
</table>

<% if vars.product_short = "CF" %>
<% else %>
For information about the communication ports and protocols used by these components, see [Service Mesh](../security/networking/routing-network-paths.html) in the _Routing Network Communications_ topic. 
<% end %>

## <a id="features"></a> Features

Service mesh currently supports configuring routing weights for app. For more information, see [Using Weighted Routing (Beta)](../devguide/weighted-routing.html).

## <a id="limitations"></a> Limitations

Consider the following when deploying service mesh:

* It does not have feature parity with the existing routing plane in <%= vars.product_short %>. 
* It is for deployments with fewer than 20,000 routes. At greater scale, it may impact core platform functions. 
* The control plane is not HA and registration of new routes may be delayed during upgrade. 